<header>
    <div class="container flex">
        <!-- правая чать хедера -->
        <div class="header_rite">
            <div class="header_conteiner--logo">
              <img class="header_logo" href="#" src="images/header/Vector.svg" alt="" height="29"></img>
              <img class="header_logo-moon" href="#" src="images/header/Vector_moon.svg" alt="" height="30"></img>
            </div>
            <div class="heder_h1-container">
                <h1 class="header_h1">HIGH JEWELRY</h1>
                <!-- <p class="header_riteside-p">Смотреть коллекцию</p> -->
                <div class="header_riteside-link">
                    <a href="#" class="header_riteside-p link">Смотреть коллекцию</a>
                </div>
            </div>
        </div>
        <!-- левая часть хедера -->
        <div class="header_left">
            <ul class="header_ul--linck">
                <li>
                    <a href="">
                        <svg class="fill" width="22" height="19">
                            <use href="./images/header/png/sprite.svg#icon-love"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="fill" width="12" height="20">
                            <use href="./images/header/png/sprite.svg#icon-people"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="fill" width="15" height="20">
                            <use href="./images/header/png/sprite.svg#icon-lock"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="fill" width="30" height="16">
                            <use href="./images/header/png/sprite.svg#icon-burger"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="heder_leftside-div-p">
                <p class="header_leftside-text">КОЛЬЦО TRINITY, Cartier</p>
                <p class="header_leftside-text-p">Белое золото, бриллианты</p>
                <p class="header_leftside-text-price">498 000 grn</p>
            </div>
        </div>
        <!-- кольцо хедера -->
        <div class="header_img-ring">
            <img class="header_logo" href="#" src="images/header/ring.svg" alt="" height="170"></img>
        </div>
    </div>
</header>
